<style>
	.button {
		padding:6px 0 6px 0;
		font:bold 13px Arial;
		background:#0A98CF;
		color:#fff;
		border-radius:2px;
		width:100px;
		border:none;
	}

</style>

<div>
	<a href="http://nutricloud.eu/connection/#!/passwordrecovery/{{ hashcode }}" class="button2">
		<span class="button">
			Changer de mot de passe
		</span>
	</a>
</div>

<img src="http://nutricloud.eu/img/logo-HD.png" alt="Logo Nutricloud" style="width:304px;height:228px;">