<style>
	.button {
		padding:6px;
		font:bold 13px Arial;
		background:#0A98CF;
		color:#fff;
		border-radius:2px;
		width:100px;
		border:none;
	}

</style>

<div style="text-align: center; font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
	<img src="http://nutricloud.eu/img/logo-HD.png" alt="Logo Nutricloud" style="max-width:300px;">
	<p>Bonjour,</p>

	<p>Vous avez demandé à changer de mot de passe afin de vous connecter à votre compte sur NutriCloud.eu.</p>
	<p>Pour cela, il vous suffit de cliquer sur le lien ci-dessous :</p>
		<a href="http://nutricloud.eu/connection/#!/passwordrecovery/{{ hashcode }}" class="button2">
			<span class="button">
				Changer de mot de passe
			</span>
		</a>
		<p>A bientôt sur NutriCloud.eu</p>
		<p>L'équipe NutriCloud.</p>

</div>

